{% extends 'base.html' %}

{% block content %}

<h1>title : {{question.title}}</h1>

<h3>{{question.text}}</h3>

<p>your answer : </p>
<form method="POST" action="">
	{% csrf_token %}
	{% if form.errors %}
			<div role="alert">
			  Your Form Has Errors
			  {% for field in form %}
			  	{% if field.errors %}
			  		{{ field.errors }}
			  	{% endif %}
			  {% endfor %}
			</div>
		{% endif %}

	{{ form.as_p }}

	<br/>
	  <button type="submit" style="width:8em;">submit</button>
	</form>

{% for answer in answers%}
{% if answer.reply is not  None %}
<p>replying to : {{answer.reply.id}}</p>
{% endif %}
<p>
{{answer.id}} : {{answer.text}}
</p>
{% endfor %}

{% endblock %}